* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0px;
    margin: 0px;
}

.container {
    max-width: 1225px;
    margin: 0px auto;
    padding: 0px 15px;
}